fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy
redis
pymupdf
python-dotenv
aiofiles

langchain
langchain-community
langchain-pinecone
langchain-huggingface

pinecone-client
sentence-transformers
transformers
tokenizers