fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy
redis
pymupdf
pdfplumber
python-dotenv
aiofiles

langchain
langchain-community
langchain-pinecone
langchain-huggingface
langchain-google-genai

pinecone-client
sentence-transformers
transformers
tokenizers